.git
.github
.next
.turbo
.vercel
.vscode
**/.next
**/.turbo
**/coverage
**/dist
**/node_modules
node_modules

.yarn/*
!.yarn/releases
!.yarn/releases/**

**/.env
**/.env.*
!**/.env.example

*.log
.DS_Store
