.theme-apocalyptic-orange {
  /* Light mode */
  --color-primary: hsl(23.1 85% 52.6%);
  --color-primary-contrast: #000;
  --color-on-primary: hsl(237 100% 0%);
  --color-on-primary-contrast: #fff;
  --color-primary-container: hsl(19.4 100% 87.2%);
  --color-primary-container-contrast: #000;
  --color-on-primary-container: hsl(1.61 100% 2.77%);
  --color-on-primary-container-contrast: #fff;
  --color-secondary: hsl(212 100% 87.2%);
  --color-secondary-contrast: #000;
  --color-on-secondary: hsl(255 100% 0.013%);
  --color-on-secondary-contrast: #fff;
  --color-tertiary: hsl(212 100% 99.6%);
  --color-tertiary-contrast: #000;
  --color-on-tertiary: hsl(255 100% 0.013%);
  --color-on-tertiary-contrast: #fff;
  --color-surface: hsl(19 34% 99%);
  --color-surface-contrast: #000;
  --color-on-surface: hsl(337 0% 1.29%);
  --color-on-surface-contrast: #fff;
  --color-on-surface-variant: hsl(19.2 9.47% 18%);
  --color-on-surface-variant-contrast: #fff;
  --color-surface-elevated: hsl(19 55.3% 99.4%);
  --color-surface-elevated-contrast: #000;
  --color-surface-dim: hsl(19 13.4% 97.4%);
  --color-surface-dim-contrast: #000;
  --color-surface-bright: hsl(19 55.3% 99.4%);
  --color-surface-bright-contrast: #000;
  --color-outline: hsl(19.2 7.46% 39%);
  --color-outline-contrast: #fff;
  --color-outline-variant: hsl(19.1 12.9% 74.5%);
  --color-outline-variant-contrast: #000;
  --color-inverse-surface: hsl(19.1 8.92% 8.66%);
  --color-inverse-surface-contrast: #fff;
  --color-on-inverse-surface: hsl(19 17.8% 93.5%);
  --color-on-inverse-surface-contrast: #000;
  --color-error: hsl(25.2 100% 21.7%);
  --color-error-contrast: #fff;
  --color-on-error: hsl(338 0% 100%);
  --color-on-error-contrast: #000;
  --color-success: hsl(109 50.5% 21.9%);
  --color-success-contrast: #fff;
  --color-on-success: hsl(338 0% 100%);
  --color-on-success-contrast: #000;
  --color-warning: hsl(41.3 85.5% 27.2%);
  --color-warning-contrast: #fff;
  --color-on-warning: hsl(19.5 100% 1.44%);
  --color-on-warning-contrast: #fff;

  color: var(--color-on-surface);
  background-color: var(--color-surface);
  --background: var(--color-surface);
  --foreground: var(--color-on-surface);
  --card: var(--color-surface-elevated);
  --card-foreground: var(--color-on-surface);
  --popover: var(--color-surface-bright);
  --popover-foreground: var(--color-on-surface);
  --primary: var(--color-primary);
  --primary-foreground: var(--color-on-primary);
  --secondary: var(--color-secondary);
  --secondary-foreground: var(--color-on-secondary);
  --muted: var(--color-surface-dim);
  --muted-foreground: var(--color-on-surface-variant);
  --accent: var(--color-tertiary);
  --accent-foreground: var(--color-on-tertiary);
  --destructive: var(--color-error);
  --destructive-foreground: var(--color-on-error);
  --input: var(--color-outline-variant);
  --border: var(--color-outline);
  --ring: var(--color-outline);
  --chart-1: var(--color-primary);
  --chart-2: var(--color-secondary);
  --chart-3: var(--color-tertiary);
  --chart-4: var(--color-success);
  --chart-5: var(--color-warning);
  --sidebar: var(--color-surface-dim);
  --sidebar-foreground: var(--color-on-surface);
  --sidebar-primary: var(--color-primary);
  --sidebar-primary-foreground: var(--color-on-primary);
  --sidebar-accent: var(--color-tertiary);
  --sidebar-accent-foreground: var(--color-on-tertiary);
  --sidebar-border: var(--color-outline);
  --sidebar-ring: var(--color-outline);
}

.theme-apocalyptic-orange[data-mode="dark"] {
  /* Dark mode */
  --color-primary: hsl(19.7 100% 80.2%);
  --color-primary-contrast: #000;
  --color-on-primary: hsl(11.9 100% 8.17%);
  --color-on-primary-contrast: #fff;
  --color-primary-container: hsl(22.1 100% 14.4%);
  --color-primary-container-contrast: #fff;
  --color-on-primary-container: hsl(19.4 100% 87.2%);
  --color-on-primary-container-contrast: #000;
  --color-secondary: hsl(212 100% 87.2%);
  --color-secondary-contrast: #000;
  --color-on-secondary: hsl(214 100% 9.85%);
  --color-on-secondary-contrast: #fff;
  --color-tertiary: hsl(212 100% 99.6%);
  --color-tertiary-contrast: #000;
  --color-on-tertiary: hsl(211 64% 9.15%);
  --color-on-tertiary-contrast: #fff;
  --color-surface: hsl(19 3.3% 6.89%);
  --color-surface-contrast: #fff;
  --color-on-surface: hsl(347 0% 87%);
  --color-on-surface-contrast: #000;
  --color-on-surface-variant: hsl(19.1 6.81% 68.3%);
  --color-on-surface-variant-contrast: #000;
  --color-surface-elevated: hsl(19 2.3% 10.4%);
  --color-surface-elevated-contrast: #fff;
  --color-surface-dim: hsl(19.1 4.25% 5.19%);
  --color-surface-dim-contrast: #fff;
  --color-surface-bright: hsl(19 2.7% 8.63%);
  --color-surface-bright-contrast: #fff;
  --color-outline: hsl(19.1 6.15% 50.4%);
  --color-outline-contrast: #000;
  --color-outline-variant: hsl(19.3 14.1% 18%);
  --color-outline-variant-contrast: #fff;
  --color-inverse-surface: hsl(19 8.77% 87.1%);
  --color-inverse-surface-contrast: #000;
  --color-on-inverse-surface: hsl(19.1 8.92% 8.66%);
  --color-on-inverse-surface-contrast: #fff;
  --color-error: hsl(20.3 100% 72.2%);
  --color-error-contrast: #000;
  --color-on-error: hsl(11.9 100% 8.17%);
  --color-on-error-contrast: #fff;
  --color-success: hsl(109 38.6% 68.7%);
  --color-success-contrast: #000;
  --color-on-success: hsl(115 100% 5.02%);
  --color-on-success-contrast: #fff;
  --color-warning: hsl(38.2 46.1% 53.5%);
  --color-warning-contrast: #000;
  --color-on-warning: hsl(34.9 100% 5.72%);
  --color-on-warning-contrast: #fff;
}
