.theme-apricot-buff {
  /* Light mode token values */
  --color-primary: hsl(22.1 56.2% 55.2%);
  --color-primary-contrast: #000;
  --color-on-primary: hsl(240 100% 0%);
  --color-on-primary-contrast: #fff;
  --color-primary-container: hsl(21.1 100% 86.6%);
  --color-primary-container-contrast: #000;
  --color-on-primary-container: hsl(3 100% 2.63%);
  --color-on-primary-container-contrast: #fff;
  --color-secondary: hsl(213 81.3% 84.6%);
  --color-secondary-contrast: #000;
  --color-on-secondary: hsl(255 100% 0.014%);
  --color-on-secondary-contrast: #fff;
  --color-tertiary: hsl(213 100% 99.4%);
  --color-tertiary-contrast: #000;
  --color-on-tertiary: hsl(255 148% 0.007%);
  --color-on-tertiary-contrast: #fff;
  --color-surface: hsl(20.5 33.8% 99%);
  --color-surface-contrast: #000;
  --color-on-surface: hsl(337 0% 1.29%);
  --color-on-surface-contrast: #fff;
  --color-on-surface-variant: hsl(20.7 9.58% 18%);
  --color-on-surface-variant-contrast: #fff;
  --color-surface-elevated: hsl(20.5 54.6% 99.4%);
  --color-surface-elevated-contrast: #000;
  --color-surface-dim: hsl(20.5 13.4% 97.4%);
  --color-surface-dim-contrast: #000;
  --color-surface-bright: hsl(20.5 54.6% 99.4%);
  --color-surface-bright-contrast: #000;
  --color-outline: hsl(20.7 7.54% 38.9%);
  --color-outline-contrast: #fff;
  --color-outline-variant: hsl(20.7 12.9% 74.4%);
  --color-outline-variant-contrast: #000;
  --color-inverse-surface: hsl(20.7 9.02% 8.63%);
  --color-inverse-surface-contrast: #fff;
  --color-on-inverse-surface: hsl(20.6 17.8% 93.5%);
  --color-on-inverse-surface-contrast: #000;
  --color-error: hsl(27.2 100% 21.1%);
  --color-error-contrast: #fff;
  --color-on-error: hsl(201 100% 100%);
  --color-on-error-contrast: #000;
  --color-success: hsl(109 50.5% 21.9%);
  --color-success-contrast: #fff;
  --color-on-success: hsl(338 0% 100%);
  --color-on-success-contrast: #000;
  --color-warning: hsl(41.3 85.5% 27.2%);
  --color-warning-contrast: #fff;
  --color-on-warning: hsl(19.5 100% 1.44%);
  --color-on-warning-contrast: #fff;

  /* Map tokens */
  color: var(--color-on-surface);
  background-color: var(--color-surface);
  --background: var(--color-surface);
  --foreground: var(--color-on-surface);
  --card: var(--color-surface-elevated);
  --card-foreground: var(--color-on-surface);
  --popover: var(--color-surface-bright);
  --popover-foreground: var(--color-on-surface);
  --primary: var(--color-primary);
  --primary-foreground: var(--color-on-primary);
  --secondary: var(--color-secondary);
  --secondary-foreground: var(--color-on-secondary);
  --muted: var(--color-surface-dim);
  --muted-foreground: var(--color-on-surface-variant);
  --accent: var(--color-tertiary);
  --accent-foreground: var(--color-on-tertiary);
  --destructive: var(--color-error);
  --destructive-foreground: var(--color-on-error);
  --input: var(--color-outline-variant);
  --border: var(--color-outline);
  --ring: var(--color-outline);
  --chart-1: var(--color-primary);
  --chart-2: var(--color-secondary);
  --chart-3: var(--color-tertiary);
  --chart-4: var(--color-success);
  --chart-5: var(--color-warning);
  --sidebar: var(--color-surface-dim);
  --sidebar-foreground: var(--color-on-surface);
  --sidebar-primary: var(--color-primary);
  --sidebar-primary-foreground: var(--color-on-primary);
  --sidebar-accent: var(--color-tertiary);
  --sidebar-accent-foreground: var(--color-on-tertiary);
  --sidebar-border: var(--color-outline);
  --sidebar-ring: var(--color-outline);
}

.theme-apricot-buff[data-mode="dark"] {
  /* Dark mode */
  --color-primary: hsl(21.4 100% 79.2%);
  --color-primary-contrast: #000;
  --color-on-primary: hsl(14.4 100% 7.89%);
  --color-on-primary-contrast: #fff;
  --color-primary-container: hsl(24.2 100% 14%);
  --color-primary-container-contrast: #fff;
  --color-on-primary-container: hsl(21.1 100% 86.6%);
  --color-on-primary-container-contrast: #000;
  --color-secondary: hsl(213 81.3% 84.6%);
  --color-secondary-contrast: #000;
  --color-on-secondary: hsl(213 94.7% 9.48%);
  --color-on-secondary-contrast: #fff;
  --color-tertiary: hsl(213 100% 99.4%);
  --color-tertiary-contrast: #000;
  --color-on-tertiary: hsl(213 25.1% 9.02%);
  --color-on-tertiary-contrast: #fff;
  --color-surface: hsl(20.6 3.33% 6.88%);
  --color-surface-contrast: #fff;
  --color-on-surface: hsl(347 0% 87%);
  --color-on-surface-contrast: #000;
  --color-on-surface-variant: hsl(20.6 6.84% 68.2%);
  --color-on-surface-variant-contrast: #000;
  --color-surface-elevated: hsl(20.6 2.31% 10.4%);
  --color-surface-elevated-contrast: #fff;
  --color-surface-dim: hsl(20.6 4.28% 5.18%);
  --color-surface-dim-contrast: #fff;
  --color-surface-bright: hsl(20.6 2.73% 8.62%);
  --color-surface-bright-contrast: #fff;
  --color-outline: hsl(20.7 6.19% 50.3%);
  --color-outline-contrast: #000;
  --color-outline-variant: hsl(20.8 14.3% 17.9%);
  --color-outline-variant-contrast: #fff;
  --color-inverse-surface: hsl(20.6 8.8% 87%);
  --color-inverse-surface-contrast: #000;
  --color-on-inverse-surface: hsl(20.7 9.02% 8.63%);
  --color-on-inverse-surface-contrast: #fff;
  --color-error: hsl(21.6 95% 72.5%);
  --color-error-contrast: #000;
  --color-on-error: hsl(14.4 100% 7.89%);
  --color-on-error-contrast: #fff;
  --color-success: hsl(109 38.6% 68.7%);
  --color-success-contrast: #000;
  --color-on-success: hsl(115 100% 5.02%);
  --color-on-success-contrast: #fff;
  --color-warning: hsl(38.2 46.1% 53.5%);
  --color-warning-contrast: #000;
  --color-on-warning: hsl(34.9 100% 5.72%);
  --color-on-warning-contrast: #fff;
}
