.theme-crystal-green {
  /* Light mode token values */
  --color-primary: hsl(93.6 57.4% 66.1%);
  --color-primary-contrast: #000;
  --color-on-primary: hsl(257 100% 0%);
  --color-on-primary-contrast: #fff;
  --color-primary-container: hsl(93.9 79.6% 75.3%);
  --color-primary-container-contrast: #000;
  --color-on-primary-container: hsl(105 100% 0.751%);
  --color-on-primary-container-contrast: #fff;
  --color-secondary: hsl(117 37.1% 21.9%);
  --color-secondary-contrast: #fff;
  --color-on-secondary: hsl(338 0% 100%);
  --color-on-secondary-contrast: #000;
  --color-tertiary: hsl(63.7 14.2% 50.1%);
  --color-tertiary-contrast: #000;
  --color-on-tertiary: hsl(257 100% 0%);
  --color-on-tertiary-contrast: #fff;
  --color-surface: hsl(96.5 17.4% 98.8%);
  --color-surface-contrast: #000;
  --color-on-surface: hsl(337 0% 1.29%);
  --color-on-surface-contrast: #fff;
  --color-on-surface-variant: hsl(96.1 5.75% 17.4%);
  --color-on-surface-variant-contrast: #fff;
  --color-surface-elevated: hsl(96.5 26.5% 99.2%);
  --color-surface-elevated-contrast: #000;
  --color-surface-dim: hsl(96.5 7.36% 97.3%);
  --color-surface-dim-contrast: #000;
  --color-surface-bright: hsl(96.5 26.5% 99.2%);
  --color-surface-bright-contrast: #000;
  --color-outline: hsl(96.2 4.49% 38%);
  --color-outline-contrast: #fff;
  --color-outline-variant: hsl(96.3 7.18% 73.3%);
  --color-outline-variant-contrast: #000;
  --color-inverse-surface: hsl(96.2 5.39% 8.38%);
  --color-inverse-surface-contrast: #fff;
  --color-on-inverse-surface: hsl(96.5 9.65% 93.1%);
  --color-on-inverse-surface-contrast: #000;
  --color-error: hsl(6.88 56.4% 30%);
  --color-error-contrast: #fff;
  --color-on-error: hsl(338 0% 100%);
  --color-on-error-contrast: #000;
  --color-success: hsl(85.9 100% 15.3%);
  --color-success-contrast: #fff;
  --color-on-success: hsl(338 0% 100%);
  --color-on-success-contrast: #000;
  --color-warning: hsl(42.9 100% 23.9%);
  --color-warning-contrast: #fff;
  --color-on-warning: hsl(19.5 100% 1.44%);
  --color-on-warning-contrast: #fff;

  color: var(--color-on-surface);
  background-color: var(--color-surface);
  --background: var(--color-surface);
  --foreground: var(--color-on-surface);
  --card: var(--color-surface-elevated);
  --card-foreground: var(--color-on-surface);
  --popover: var(--color-surface-bright);
  --popover-foreground: var(--color-on-surface);
  --primary: var(--color-primary);
  --primary-foreground: var(--color-on-primary);
  --secondary: var(--color-secondary);
  --secondary-foreground: var(--color-on-secondary);
  --muted: var(--color-surface-dim);
  --muted-foreground: var(--color-on-surface-variant);
  --accent: var(--color-tertiary);
  --accent-foreground: var(--color-on-tertiary);
  --destructive: var(--color-error);
  --destructive-foreground: var(--color-on-error);
  --input: var(--color-outline-variant);
  --border: var(--color-outline);
  --ring: var(--color-outline);
  --chart-1: var(--color-primary);
  --chart-2: var(--color-secondary);
  --chart-3: var(--color-tertiary);
  --chart-4: var(--color-success);
  --chart-5: var(--color-warning);
  --sidebar: var(--color-surface-dim);
  --sidebar-foreground: var(--color-on-surface);
  --sidebar-primary: var(--color-primary);
  --sidebar-primary-foreground: var(--color-on-primary);
  --sidebar-accent: var(--color-tertiary);
  --sidebar-accent-foreground: var(--color-on-tertiary);
  --sidebar-border: var(--color-outline);
  --sidebar-ring: var(--color-outline);
}

.theme-crystal-green[data-mode="dark"] {
  --color-primary: hsl(93.7 62.8% 68.9%);
  --color-primary-contrast: #000;
  --color-on-primary: hsl(96.6 100% 4.67%);
  --color-on-primary-contrast: #fff;
  --color-primary-container: hsl(88.4 100% 9.67%);
  --color-primary-container-contrast: #fff;
  --color-on-primary-container: hsl(93.9 79.6% 75.3%);
  --color-on-primary-container-contrast: #000;
  --color-secondary: hsl(117 37.1% 21.9%);
  --color-secondary-contrast: #fff;
  --color-on-secondary: hsl(114 100% 98.4%);
  --color-on-secondary-contrast: #000;
  --color-tertiary: hsl(63.7 14.2% 50.1%);
  --color-tertiary-contrast: #000;
  --color-on-tertiary: hsl(60.6 100% 4.06%);
  --color-on-tertiary-contrast: #fff;
  --color-surface: hsl(96.4 1.94% 6.8%);
  --color-surface-contrast: #fff;
  --color-on-surface: hsl(347 0% 87%);
  --color-on-surface-contrast: #000;
  --color-on-surface-variant: hsl(96.4 3.86% 67.5%);
  --color-on-surface-variant-contrast: #000;
  --color-surface-elevated: hsl(96.4 1.34% 10.3%);
  --color-surface-elevated-contrast: #fff;
  --color-surface-dim: hsl(96.4 2.5% 5.11%);
  --color-surface-dim-contrast: #fff;
  --color-surface-bright: hsl(96.4 1.58% 8.54%);
  --color-surface-bright-contrast: #fff;
  --color-outline: hsl(96.2 3.62% 49.3%);
  --color-outline-contrast: #000;
  --color-outline-variant: hsl(95.9 8.8% 17.1%);
  --color-outline-variant-contrast: #fff;
  --color-inverse-surface: hsl(96.4 4.91% 86.6%);
  --color-inverse-surface-contrast: #000;
  --color-on-inverse-surface: hsl(96.2 5.39% 8.38%);
  --color-on-inverse-surface-contrast: #fff;
  --color-error: hsl(8.59 94.7% 78.4%);
  --color-error-contrast: #000;
  --color-on-error: hsl(357 100% 9.52%);
  --color-on-error-contrast: #fff;
  --color-success: hsl(93.4 51.8% 62.5%);
  --color-success-contrast: #000;
  --color-on-success: hsl(96.6 100% 4.67%);
  --color-on-success-contrast: #fff;
  --color-warning: hsl(38.6 49.9% 52.2%);
  --color-warning-contrast: #000;
  --color-on-warning: hsl(34.9 100% 5.73%);
  --color-on-warning-contrast: #fff;
}
