.theme-jade-glass {
  /* Light mode token values */
  --color-primary: hsl(183 100% 40%);
  --color-primary-contrast: #000;
  --color-on-primary: hsl(214 100% 0.001%);
  --color-on-primary-contrast: #fff;
  --color-primary-container: hsl(183 100% 65.6%);
  --color-primary-container-contrast: #000;
  --color-on-primary-container: hsl(189 100% 0.761%);
  --color-on-primary-container-contrast: #fff;
  --color-secondary: hsl(15.7 36.2% 63.2%);
  --color-secondary-contrast: #000;
  --color-on-secondary: hsl(228 100% 0%);
  --color-on-secondary-contrast: #fff;
  --color-tertiary: hsl(15.5 100% 99.2%);
  --color-tertiary-contrast: #000;
  --color-on-tertiary: hsl(226 209% -0.002%);
  --color-on-tertiary-contrast: #fff;
  --color-surface: hsl(183 24.6% 98.8%);
  --color-surface-contrast: #000;
  --color-on-surface: hsl(337 0% 1.29%);
  --color-on-surface-contrast: #fff;
  --color-on-surface-variant: hsl(183 8.62% 17.3%);
  --color-on-surface-variant-contrast: #fff;
  --color-surface-elevated: hsl(183 37.1% 99.2%);
  --color-surface-elevated-contrast: #000;
  --color-surface-dim: hsl(183 10.5% 97.2%);
  --color-surface-dim-contrast: #000;
  --color-surface-bright: hsl(183 37.1% 99.2%);
  --color-surface-bright-contrast: #000;
  --color-outline: hsl(183 6.69% 37.7%);
  --color-outline-contrast: #fff;
  --color-outline-variant: hsl(183 10.4% 73.1%);
  --color-outline-variant-contrast: #000;
  --color-inverse-surface: hsl(183 8% 8.31%);
  --color-inverse-surface-contrast: #fff;
  --color-on-inverse-surface: hsl(183 13.8% 93%);
  --color-on-inverse-surface-contrast: #000;
  --color-error: hsl(17.2 76.4% 26.4%);
  --color-error-contrast: #fff;
  --color-on-error: hsl(338 0% 100%);
  --color-on-error-contrast: #000;
  --color-success: hsl(109 50.5% 21.9%);
  --color-success-contrast: #fff;
  --color-on-success: hsl(338 0% 100%);
  --color-on-success-contrast: #000;
  --color-warning: hsl(41.3 85.5% 27.2%);
  --color-warning-contrast: #fff;
  --color-on-warning: hsl(19.5 100% 1.44%);
  --color-on-warning-contrast: #fff;

  color: var(--color-on-surface);
  background-color: var(--color-surface);
  --background: var(--color-surface);
  --foreground: var(--color-on-surface);
  --card: var(--color-surface-elevated);
  --card-foreground: var(--color-on-surface);
  --popover: var(--color-surface-bright);
  --popover-foreground: var(--color-on-surface);
  --primary: var(--color-primary);
  --primary-foreground: var(--color-on-primary);
  --secondary: var(--color-secondary);
  --secondary-foreground: var(--color-on-secondary);
  --muted: var(--color-surface-dim);
  --muted-foreground: var(--color-on-surface-variant);
  --accent: var(--color-tertiary);
  --accent-foreground: var(--color-on-tertiary);
  --destructive: var(--color-error);
  --destructive-foreground: var(--color-on-error);
  --input: var(--color-outline-variant);
  --border: var(--color-outline);
  --ring: var(--color-outline);
  --chart-1: var(--color-primary);
  --chart-2: var(--color-secondary);
  --chart-3: var(--color-tertiary);
  --chart-4: var(--color-success);
  --chart-5: var(--color-warning);
  --sidebar: var(--color-surface-dim);
  --sidebar-foreground: var(--color-on-surface);
  --sidebar-primary: var(--color-primary);
  --sidebar-primary-foreground: var(--color-on-primary);
  --sidebar-accent: var(--color-tertiary);
  --sidebar-accent-foreground: var(--color-on-tertiary);
  --sidebar-border: var(--color-outline);
  --sidebar-ring: var(--color-outline);
}

.theme-jade-glass[data-mode="dark"] {
  --color-primary: hsl(183 88.1% 56.9%);
  --color-primary-contrast: #000;
  --color-on-primary: hsl(184 100% 4.69%);
  --color-on-primary-contrast: #fff;
  --color-primary-container: hsl(183 100% 9.92%);
  --color-primary-container-contrast: #fff;
  --color-on-primary-container: hsl(183 100% 65.6%);
  --color-on-primary-container-contrast: #000;
  --color-secondary: hsl(15.7 36.2% 63.2%);
  --color-secondary-contrast: #000;
  --color-on-secondary: hsl(10.9 100% 8.64%);
  --color-on-secondary-contrast: #fff;
  --color-tertiary: hsl(15.5 100% 99.2%);
  --color-tertiary-contrast: #000;
  --color-on-tertiary: hsl(15.6 28.7% 8.85%);
  --color-on-tertiary-contrast: #fff;
  --color-surface: hsl(183 2.81% 6.79%);
  --color-surface-contrast: #fff;
  --color-on-surface: hsl(347 0% 87%);
  --color-on-surface-contrast: #000;
  --color-on-surface-variant: hsl(183 5.6% 67.3%);
  --color-on-surface-variant-contrast: #000;
  --color-surface-elevated: hsl(183 1.94% 10.3%);
  --color-surface-elevated-contrast: #fff;
  --color-surface-dim: hsl(183 3.64% 5.1%);
  --color-surface-dim-contrast: #fff;
  --color-surface-bright: hsl(183 2.3% 8.53%);
  --color-surface-bright-contrast: #fff;
  --color-outline: hsl(183 5.36% 49%);
  --color-outline-contrast: #000;
  --color-outline-variant: hsl(183 13.5% 16.9%);
  --color-outline-variant-contrast: #fff;
  --color-inverse-surface: hsl(183 7.07% 86.6%);
  --color-inverse-surface-contrast: #000;
  --color-on-inverse-surface: hsl(183 8% 8.31%);
  --color-on-inverse-surface-contrast: #fff;
  --color-error: hsl(15.7 93.4% 75.6%);
  --color-error-contrast: #000;
  --color-on-error: hsl(5.88 100% 8.87%);
  --color-on-error-contrast: #fff;
  --color-success: hsl(109 38.6% 68.7%);
  --color-success-contrast: #000;
  --color-on-success: hsl(115 100% 5.02%);
  --color-on-success-contrast: #fff;
  --color-warning: hsl(38.2 46.1% 53.5%);
  --color-warning-contrast: #000;
  --color-on-warning: hsl(34.9 100% 5.72%);
  --color-on-warning-contrast: #fff;
}
