.theme-james-blonde {
  /* Light mode token values */
  --color-primary: hsl(46.2 68.5% 83.1%);
  --color-primary-contrast: #000;
  --color-on-primary: hsl(256 100% 0%);
  --color-on-primary-contrast: #fff;
  --color-primary-container: hsl(46.2 60.1% 80.8%);
  --color-primary-container-contrast: #000;
  --color-on-primary-container: hsl(31 100% 1%);
  --color-on-primary-container-contrast: #fff;
  --color-secondary: hsl(299 5.12% 62.6%);
  --color-secondary-contrast: #000;
  --color-on-secondary: hsl(263 161% 0.002%);
  --color-on-secondary-contrast: #fff;
  --color-tertiary: hsl(299 100% 99%);
  --color-tertiary-contrast: #000;
  --color-on-tertiary: hsl(265 165% 0%);
  --color-on-tertiary-contrast: #fff;
  --color-surface: hsl(46.6 23.3% 98.8%);
  --color-surface-contrast: #000;
  --color-on-surface: hsl(337 0% 1.29%);
  --color-on-surface-contrast: #fff;
  --color-on-surface-variant: hsl(46.4 8.18% 17.2%);
  --color-on-surface-variant-contrast: #fff;
  --color-surface-elevated: hsl(46.6 34.7% 99.2%);
  --color-surface-elevated-contrast: #000;
  --color-surface-dim: hsl(46.6 10% 97.2%);
  --color-surface-dim-contrast: #000;
  --color-surface-bright: hsl(46.6 34.7% 99.2%);
  --color-surface-bright-contrast: #000;
  --color-outline: hsl(46.4 6.36% 37.6%);
  --color-outline-contrast: #fff;
  --color-outline-variant: hsl(46.5 9.87% 72.9%);
  --color-outline-variant-contrast: #000;
  --color-inverse-surface: hsl(46.4 7.63% 8.28%);
  --color-inverse-surface-contrast: #fff;
  --color-on-inverse-surface: hsl(46.6 13.1% 93%);
  --color-on-inverse-surface-contrast: #000;
  --color-error: hsl(7.24 51.4% 30.1%);
  --color-error-contrast: #fff;
  --color-on-error: hsl(338 0% 100%);
  --color-on-error-contrast: #000;
  --color-success: hsl(109 50.5% 21.9%);
  --color-success-contrast: #fff;
  --color-on-success: hsl(338 0% 100%);
  --color-on-success-contrast: #000;
  --color-warning: hsl(46.3 31.8% 33%);
  --color-warning-contrast: #fff;
  --color-on-warning: hsl(31 100% 1%);
  --color-on-warning-contrast: #fff;

  color: var(--color-on-surface);
  background-color: var(--color-surface);
  --background: var(--color-surface);
  --foreground: var(--color-on-surface);
  --card: var(--color-surface-elevated);
  --card-foreground: var(--color-on-surface);
  --popover: var(--color-surface-bright);
  --popover-foreground: var(--color-on-surface);
  --primary: var(--color-primary);
  --primary-foreground: var(--color-on-primary);
  --secondary: var(--color-secondary);
  --secondary-foreground: var(--color-on-secondary);
  --muted: var(--color-surface-dim);
  --muted-foreground: var(--color-on-surface-variant);
  --accent: var(--color-tertiary);
  --accent-foreground: var(--color-on-tertiary);
  --destructive: var(--color-error);
  --destructive-foreground: var(--color-on-error);
  --input: var(--color-outline-variant);
  --border: var(--color-outline);
  --ring: var(--color-outline);
  --chart-1: var(--color-primary);
  --chart-2: var(--color-secondary);
  --chart-3: var(--color-tertiary);
  --chart-4: var(--color-success);
  --chart-5: var(--color-warning);
  --sidebar: var(--color-surface-dim);
  --sidebar-foreground: var(--color-on-surface);
  --sidebar-primary: var(--color-primary);
  --sidebar-primary-foreground: var(--color-on-primary);
  --sidebar-accent: var(--color-tertiary);
  --sidebar-accent-foreground: var(--color-on-tertiary);
  --sidebar-border: var(--color-outline);
  --sidebar-ring: var(--color-outline);
}

.theme-james-blonde[data-mode="dark"] {
  /* Dark mode token values */
  --color-primary: hsl(46.2 44.7% 74.5%);
  --color-primary-contrast: #000;
  --color-on-primary: hsl(43.8 100% 4.94%);
  --color-on-primary-contrast: #fff;
  --color-primary-container: hsl(47.6 98.4% 11.1%);
  --color-primary-container-contrast: #fff;
  --color-on-primary-container: hsl(46.2 60.1% 80.8%);
  --color-on-primary-container-contrast: #000;
  --color-secondary: hsl(299 5.12% 62.6%);
  --color-secondary-contrast: #000;
  --color-on-secondary: hsl(298 15.7% 8.98%);
  --color-on-secondary-contrast: #fff;
  --color-tertiary: hsl(299 100% 99%);
  --color-tertiary-contrast: #000;
  --color-on-tertiary: hsl(298 8.6% 8.83%);
  --color-on-tertiary-contrast: #fff;
  --color-surface: hsl(46.5 2.7% 6.77%);
  --color-surface-contrast: #fff;
  --color-on-surface: hsl(347 0% 87%);
  --color-on-surface-contrast: #000;
  --color-on-surface-variant: hsl(46.5 5.33% 67.2%);
  --color-on-surface-variant-contrast: #000;
  --color-surface-elevated: hsl(46.5 1.87% 10.3%);
  --color-surface-elevated-contrast: #fff;
  --color-surface-dim: hsl(46.5 3.5% 5.08%);
  --color-surface-dim-contrast: #fff;
  --color-surface-bright: hsl(46.5 2.21% 8.51%);
  --color-surface-bright-contrast: #fff;
  --color-outline: hsl(46.4 5.1% 48.9%);
  --color-outline-contrast: #000;
  --color-outline-variant: hsl(46.3 12.7% 16.8%);
  --color-outline-variant-contrast: #fff;
  --color-inverse-surface: hsl(46.6 6.75% 86.5%);
  --color-inverse-surface-contrast: #000;
  --color-on-inverse-surface: hsl(46.4 7.63% 8.28%);
  --color-on-inverse-surface-contrast: #fff;
  --color-error: hsl(8.69 86.3% 78.2%);
  --color-error-contrast: #000;
  --color-on-error: hsl(357 100% 9.52%);
  --color-on-error-contrast: #fff;
  --color-success: hsl(109 38.6% 68.7%);
  --color-success-contrast: #000;
  --color-on-success: hsl(115 100% 5.02%);
  --color-on-success-contrast: #fff;
  --color-warning: hsl(46.2 25.1% 56.1%);
  --color-warning-contrast: #000;
  --color-on-warning: hsl(43.8 100% 4.94%);
  --color-on-warning-contrast: #fff;
}
