.theme-maya-blue {
  /* Light mode token values */
  --color-primary: hsl(205 92.7% 72.5%);
  --color-primary-contrast: #000;
  --color-on-primary: hsl(253 100% 0.011%);
  --color-on-primary-contrast: #fff;
  --color-primary-container: hsl(205 100% 87.3%);
  --color-primary-container-contrast: #000;
  --color-on-primary-container: hsl(222 100% 2.88%);
  --color-on-primary-container-contrast: #fff;
  --color-secondary: hsl(20.7 29% 62%);
  --color-secondary-contrast: #000;
  --color-on-secondary: hsl(240 100% 0%);
  --color-on-secondary-contrast: #fff;
  --color-tertiary: hsl(20.3 100% 98.8%);
  --color-tertiary-contrast: #000;
  --color-on-tertiary: hsl(236 146% -0.002%);
  --color-on-tertiary-contrast: #fff;
  --color-surface: hsl(206 34.3% 99%);
  --color-surface-contrast: #000;
  --color-on-surface: hsl(337 0% 1.29%);
  --color-on-surface-contrast: #fff;
  --color-on-surface-variant: hsl(206 9.74% 18%);
  --color-on-surface-variant-contrast: #fff;
  --color-surface-elevated: hsl(206 55.8% 99.4%);
  --color-surface-elevated-contrast: #000;
  --color-surface-dim: hsl(206 13.5% 97.4%);
  --color-surface-dim-contrast: #000;
  --color-surface-bright: hsl(206 55.8% 99.4%);
  --color-surface-bright-contrast: #000;
  --color-outline: hsl(206 7.65% 39%);
  --color-outline-contrast: #fff;
  --color-outline-variant: hsl(206 13.2% 74.5%);
  --color-outline-variant-contrast: #000;
  --color-inverse-surface: hsl(206 9.13% 8.66%);
  --color-inverse-surface-contrast: #fff;
  --color-on-inverse-surface: hsl(206 18% 93.5%);
  --color-on-inverse-surface-contrast: #000;
  --color-error: hsl(22.6 64.6% 25.8%);
  --color-error-contrast: #fff;
  --color-on-error: hsl(338 0% 100%);
  --color-on-error-contrast: #000;
  --color-success: hsl(109 50.5% 21.9%);
  --color-success-contrast: #fff;
  --color-on-success: hsl(338 0% 100%);
  --color-on-success-contrast: #000;
  --color-warning: hsl(41.3 85.5% 27.2%);
  --color-warning-contrast: #fff;
  --color-on-warning: hsl(19.5 100% 1.44%);
  --color-on-warning-contrast: #fff;

  /* Map to design system */
  color: var(--color-on-surface);
  background-color: var(--color-surface);
  --background: var(--color-surface);
  --foreground: var(--color-on-surface);
  --card: var(--color-surface-elevated);
  --card-foreground: var(--color-on-surface);
  --popover: var(--color-surface-bright);
  --popover-foreground: var(--color-on-surface);
  --primary: var(--color-primary);
  --primary-foreground: var(--color-on-primary);
  --secondary: var(--color-secondary);
  --secondary-foreground: var(--color-on-secondary);
  --muted: var(--color-surface-dim);
  --muted-foreground: var(--color-on-surface-variant);
  --accent: var(--color-tertiary);
  --accent-foreground: var(--color-on-tertiary);
  --destructive: var(--color-error);
  --destructive-foreground: var(--color-on-error);
  --input: var(--color-outline-variant);
  --border: var(--color-outline);
  --ring: var(--color-outline);
  --chart-1: var(--color-primary);
  --chart-2: var(--color-secondary);
  --chart-3: var(--color-tertiary);
  --chart-4: var(--color-success);
  --chart-5: var(--color-warning);
  --sidebar: var(--color-surface-dim);
  --sidebar-foreground: var(--color-on-surface);
  --sidebar-primary: var(--color-primary);
  --sidebar-primary-foreground: var(--color-on-primary);
  --sidebar-accent: var(--color-tertiary);
  --sidebar-accent-foreground: var(--color-on-tertiary);
  --sidebar-border: var(--color-outline);
  --sidebar-ring: var(--color-outline);
}

.theme-maya-blue[data-mode="dark"] {
  /* Dark mode token values */
  --color-primary: hsl(205 100% 80.1%);
  --color-primary-contrast: #000;
  --color-on-primary: hsl(205 100% 7.75%);
  --color-on-primary-contrast: #fff;
  --color-primary-container: hsl(201 100% 13.8%);
  --color-primary-container-contrast: #fff;
  --color-on-primary-container: hsl(205 100% 87.3%);
  --color-on-primary-container-contrast: #000;
  --color-secondary: hsl(20.7 29% 62%);
  --color-secondary-contrast: #000;
  --color-on-secondary: hsl(19.2 98% 7.94%);
  --color-on-secondary-contrast: #fff;
  --color-tertiary: hsl(20.3 100% 98.8%);
  --color-tertiary-contrast: #000;
  --color-on-tertiary: hsl(20.6 24.3% 8.61%);
  --color-on-tertiary-contrast: #fff;
  --color-surface: hsl(206 3.34% 6.89%);
  --color-surface-contrast: #fff;
  --color-on-surface: hsl(347 0% 87%);
  --color-on-surface-contrast: #000;
  --color-on-surface-variant: hsl(206 6.92% 68.3%);
  --color-on-surface-variant-contrast: #000;
  --color-surface-elevated: hsl(206 2.32% 10.4%);
  --color-surface-elevated-contrast: #fff;
  --color-surface-dim: hsl(206 4.31% 5.19%);
  --color-surface-dim-contrast: #fff;
  --color-surface-bright: hsl(206 2.74% 8.63%);
  --color-surface-bright-contrast: #fff;
  --color-outline: hsl(206 6.29% 50.4%);
  --color-outline-contrast: #000;
  --color-outline-variant: hsl(206 14.7% 18%);
  --color-outline-variant-contrast: #fff;
  --color-inverse-surface: hsl(206 8.87% 87.1%);
  --color-inverse-surface-contrast: #000;
  --color-on-inverse-surface: hsl(206 9.13% 8.66%);
  --color-on-inverse-surface-contrast: #fff;
  --color-error: hsl(20.9 72.2% 73.8%);
  --color-error-contrast: #000;
  --color-on-error: hsl(13.8 100% 7.95%);
  --color-on-error-contrast: #fff;
  --color-success: hsl(109 38.6% 68.7%);
  --color-success-contrast: #000;
  --color-on-success: hsl(115 100% 5.02%);
  --color-on-success-contrast: #fff;
  --color-warning: hsl(38.2 46.1% 53.5%);
  --color-warning-contrast: #000;
  --color-on-warning: hsl(34.9 100% 5.72%);
  --color-on-warning-contrast: #fff;
}
