.theme-miami-coral {
  /* Light mode */
  --color-primary: hsl(9.25 100% 72.8%);
  --color-primary-contrast: #000;
  --color-on-primary: hsl(213 100% 0%);
  --color-on-primary-contrast: #fff;
  --color-primary-container: hsl(10.2 100% 89.9%);
  --color-primary-container-contrast: #000;
  --color-on-primary-container: hsl(357 100% 3.02%);
  --color-on-primary-container-contrast: #fff;
  --color-secondary: hsl(27 20.6% 68.2%);
  --color-secondary-contrast: #000;
  --color-on-secondary: hsl(249 100% 0%);
  --color-on-secondary-contrast: #fff;
  --color-tertiary: hsl(45.1 6.71% 67.9%);
  --color-tertiary-contrast: #000;
  --color-on-tertiary: hsl(255 147% -0.003%);
  --color-on-tertiary-contrast: #fff;
  --color-surface: hsl(10.4 33.3% 99%);
  --color-surface-contrast: #000;
  --color-on-surface: hsl(337 0% 1.29%);
  --color-on-surface-contrast: #fff;
  --color-on-surface-variant: hsl(10.3 8.53% 18.3%);
  --color-on-surface-variant-contrast: #fff;
  --color-surface-elevated: hsl(10.4 56.3% 99.4%);
  --color-surface-elevated-contrast: #000;
  --color-surface-dim: hsl(10.4 12.6% 97.5%);
  --color-surface-dim-contrast: #000;
  --color-surface-bright: hsl(10.4 56.3% 99.4%);
  --color-surface-bright-contrast: #000;
  --color-outline: hsl(10.3 6.75% 39.5%);
  --color-outline-contrast: #fff;
  --color-outline-variant: hsl(10.4 12.1% 75.1%);
  --color-outline-variant-contrast: #000;
  --color-inverse-surface: hsl(10.4 8.07% 8.79%);
  --color-inverse-surface-contrast: #fff;
  --color-on-inverse-surface: hsl(10.4 16.9% 93.7%);
  --color-on-inverse-surface-contrast: #000;
  --color-error: hsl(5.06 100% 25.4%);
  --color-error-contrast: #fff;
  --color-on-error: hsl(338 0% 100%);
  --color-on-error-contrast: #000;
  --color-success: hsl(105 100% 16%);
  --color-success-contrast: #fff;
  --color-on-success: hsl(338 0% 100%);
  --color-on-success-contrast: #000;
  --color-warning: hsl(42.9 100% 23.9%);
  --color-warning-contrast: #fff;
  --color-on-warning: hsl(19.5 100% 1.44%);
  --color-on-warning-contrast: #fff;

  color: var(--color-on-surface);
  background-color: var(--color-surface);
  --background: var(--color-surface);
  --foreground: var(--color-on-surface);
  --card: var(--color-surface-elevated);
  --card-foreground: var(--color-on-surface);
  --popover: var(--color-surface-bright);
  --popover-foreground: var(--color-on-surface);
  --primary: var(--color-primary);
  --primary-foreground: var(--color-on-primary);
  --secondary: var(--color-secondary);
  --secondary-foreground: var(--color-on-secondary);
  --muted: var(--color-surface-dim);
  --muted-foreground: var(--color-on-surface-variant);
  --accent: var(--color-tertiary);
  --accent-foreground: var(--color-on-tertiary);
  --destructive: var(--color-error);
  --destructive-foreground: var(--color-on-error);
  --input: var(--color-outline-variant);
  --border: var(--color-outline);
  --ring: var(--color-outline);
  --chart-1: var(--color-primary);
  --chart-2: var(--color-secondary);
  --chart-3: var(--color-tertiary);
  --chart-4: var(--color-success);
  --chart-5: var(--color-warning);
  --sidebar: var(--color-surface-dim);
  --sidebar-foreground: var(--color-on-surface);
  --sidebar-primary: var(--color-primary);
  --sidebar-primary-foreground: var(--color-on-primary);
  --sidebar-accent: var(--color-tertiary);
  --sidebar-accent-foreground: var(--color-on-tertiary);
  --sidebar-border: var(--color-outline);
  --sidebar-ring: var(--color-outline);
}

.theme-miami-coral[data-mode="dark"] {
  /* Dark mode */
  --color-primary: hsl(9.96 100% 84.2%);
  --color-primary-contrast: #000;
  --color-on-primary: hsl(358 100% 9.55%);
  --color-on-primary-contrast: #fff;
  --color-primary-container: hsl(0.711 100% 17.1%);
  --color-primary-container-contrast: #fff;
  --color-on-primary-container: hsl(10.2 100% 89.9%);
  --color-on-primary-container-contrast: #000;
  --color-secondary: hsl(27 33.5% 79.8%);
  --color-secondary-contrast: #000;
  --color-on-secondary: hsl(28.1 62.7% 7.67%);
  --color-on-secondary-contrast: #fff;
  --color-tertiary: hsl(45.1 10.8% 79.5%);
  --color-tertiary-contrast: #000;
  --color-on-tertiary: hsl(44.9 20.3% 7.81%);
  --color-on-tertiary-contrast: #fff;
  --color-surface: hsl(10.4 3.03% 6.92%);
  --color-surface-contrast: #fff;
  --color-on-surface: hsl(347 0% 87%);
  --color-on-surface-contrast: #000;
  --color-on-surface-variant: hsl(10.4 6.34% 68.6%);
  --color-on-surface-variant-contrast: #000;
  --color-surface-elevated: hsl(10.4 2.11% 10.5%);
  --color-surface-elevated-contrast: #fff;
  --color-surface-dim: hsl(10.4 3.89% 5.23%);
  --color-surface-dim-contrast: #fff;
  --color-surface-bright: hsl(10.4 2.48% 8.67%);
  --color-surface-bright-contrast: #fff;
  --color-outline: hsl(10.4 5.7% 50.9%);
  --color-outline-contrast: #000;
  --color-outline-variant: hsl(10.3 12.6% 18.5%);
  --color-outline-variant-contrast: #fff;
  --color-inverse-surface: hsl(10.4 8.21% 87.3%);
  --color-inverse-surface-contrast: #000;
  --color-on-inverse-surface: hsl(10.4 8.07% 8.79%);
  --color-on-inverse-surface-contrast: #fff;
  --color-error: hsl(9.59 100% 78.3%);
  --color-error-contrast: #000;
  --color-on-error: hsl(358 100% 9.55%);
  --color-on-error-contrast: #fff;
  --color-success: hsl(109 53.1% 64.9%);
  --color-success-contrast: #000;
  --color-on-success: hsl(115 100% 5.02%);
  --color-on-success-contrast: #fff;
  --color-warning: hsl(43.4 100% 38.5%);
  --color-warning-contrast: #000;
  --color-on-warning: hsl(34.9 100% 5.73%);
  --color-on-warning-contrast: #fff;
}
