.theme-sky-dancer {
  /* Light mode token values */
  --color-primary: hsl(211 91.2% 60.3%);
  --color-primary-contrast: #000;
  --color-on-primary: hsl(255 100% 0.014%);
  --color-on-primary-contrast: #fff;
  --color-primary-container: hsl(212 100% 89.6%);
  --color-primary-container-contrast: #000;
  --color-on-primary-container: hsl(233 100% 4.53%);
  --color-on-primary-container-contrast: #fff;
  --color-secondary: hsl(34.6 79.4% 77.9%);
  --color-secondary-contrast: #000;
  --color-on-secondary: hsl(253 100% 0%);
  --color-on-secondary-contrast: #fff;
  --color-tertiary: hsl(34.2 100% 96.7%);
  --color-tertiary-contrast: #000;
  --color-on-tertiary: hsl(253 100% 0%);
  --color-on-tertiary-contrast: #fff;
  --color-surface: hsl(213 34.5% 99%);
  --color-surface-contrast: #000;
  --color-on-surface: hsl(337 0% 1.29%);
  --color-on-surface-contrast: #fff;
  --color-on-surface-variant: hsl(212 9.15% 18.3%);
  --color-on-surface-variant-contrast: #fff;
  --color-surface-elevated: hsl(213 57.8% 99.4%);
  --color-surface-elevated-contrast: #000;
  --color-surface-dim: hsl(213 13.2% 97.4%);
  --color-surface-dim-contrast: #000;
  --color-surface-bright: hsl(213 57.8% 99.4%);
  --color-surface-bright-contrast: #000;
  --color-outline: hsl(212 7.22% 39.4%);
  --color-outline-contrast: #fff;
  --color-outline-variant: hsl(212 12.8% 75%);
  --color-outline-variant-contrast: #000;
  --color-inverse-surface: hsl(212 8.61% 8.76%);
  --color-inverse-surface-contrast: #fff;
  --color-on-inverse-surface: hsl(213 17.7% 93.7%);
  --color-on-inverse-surface-contrast: #000;
  --color-error: hsl(7.24 51.4% 30.1%);
  --color-error-contrast: #fff;
  --color-on-error: hsl(338 0% 100%);
  --color-on-error-contrast: #000;
  --color-success: hsl(109 50.5% 21.9%);
  --color-success-contrast: #fff;
  --color-on-success: hsl(338 0% 100%);
  --color-on-success-contrast: #000;
  --color-warning: hsl(40.7 100% 24.7%);
  --color-warning-contrast: #fff;
  --color-on-warning: hsl(16.2 100% 1.62%);
  --color-on-warning-contrast: #fff;

  /* Map tokens */
  color: var(--color-on-surface);
  background-color: var(--color-surface);
  --background: var(--color-surface);
  --foreground: var(--color-on-surface);
  --card: var(--color-surface-elevated);
  --card-foreground: var(--color-on-surface);
  --popover: var(--color-surface-bright);
  --popover-foreground: var(--color-on-surface);
  --primary: var(--color-primary);
  --primary-foreground: var(--color-on-primary);
  --secondary: var(--color-secondary);
  --secondary-foreground: var(--color-on-secondary);
  --muted: var(--color-surface-dim);
  --muted-foreground: var(--color-on-surface-variant);
  --accent: var(--color-tertiary);
  --accent-foreground: var(--color-on-tertiary);
  --destructive: var(--color-error);
  --destructive-foreground: var(--color-on-error);
  --input: var(--color-outline-variant);
  --border: var(--color-outline);
  --ring: var(--color-outline);
  --chart-1: var(--color-primary);
  --chart-2: var(--color-secondary);
  --chart-3: var(--color-tertiary);
  --chart-4: var(--color-success);
  --chart-5: var(--color-warning);
  --sidebar: var(--color-surface-dim);
  --sidebar-foreground: var(--color-on-surface);
  --sidebar-primary: var(--color-primary);
  --sidebar-primary-foreground: var(--color-on-primary);
  --sidebar-accent: var(--color-tertiary);
  --sidebar-accent-foreground: var(--color-on-tertiary);
  --sidebar-border: var(--color-outline);
  --sidebar-ring: var(--color-outline);
}

.theme-sky-dancer[data-mode="dark"] {
  /* Dark mode token values */
  --color-primary: hsl(212 100% 83.8%);
  --color-primary-contrast: #000;
  --color-on-primary: hsl(215 100% 10.1%);
  --color-on-primary-contrast: #fff;
  --color-primary-container: hsl(209 100% 16.8%);
  --color-primary-container-contrast: #fff;
  --color-on-primary-container: hsl(212 100% 89.6%);
  --color-on-primary-container-contrast: #000;
  --color-secondary: hsl(34.6 79.4% 77.9%);
  --color-secondary-contrast: #000;
  --color-on-secondary: hsl(31.8 100% 6.03%);
  --color-on-secondary-contrast: #fff;
  --color-tertiary: hsl(34.2 100% 96.7%);
  --color-tertiary-contrast: #000;
  --color-on-tertiary: hsl(34.8 79.1% 6.8%);
  --color-on-tertiary-contrast: #fff;
  --color-surface: hsl(213 3.19% 6.92%);
  --color-surface-contrast: #fff;
  --color-on-surface: hsl(347 0% 87%);
  --color-on-surface-contrast: #000;
  --color-on-surface-variant: hsl(212 6.69% 68.6%);
  --color-on-surface-variant-contrast: #000;
  --color-surface-elevated: hsl(213 2.22% 10.4%);
  --color-surface-elevated-contrast: #fff;
  --color-surface-dim: hsl(213 4.1% 5.22%);
  --color-surface-dim-contrast: #fff;
  --color-surface-bright: hsl(213 2.62% 8.66%);
  --color-surface-bright-contrast: #fff;
  --color-outline: hsl(212 6.06% 50.8%);
  --color-outline-contrast: #000;
  --color-outline-variant: hsl(212 13.6% 18.4%);
  --color-outline-variant-contrast: #fff;
  --color-inverse-surface: hsl(213 8.61% 87.2%);
  --color-inverse-surface-contrast: #000;
  --color-on-inverse-surface: hsl(212 8.61% 8.76%);
  --color-on-inverse-surface-contrast: #fff;
  --color-error: hsl(8.69 86.3% 78.2%);
  --color-error-contrast: #000;
  --color-on-error: hsl(357 100% 9.52%);
  --color-on-error-contrast: #fff;
  --color-success: hsl(109 38.6% 68.7%);
  --color-success-contrast: #000;
  --color-on-success: hsl(115 100% 5.02%);
  --color-on-success-contrast: #fff;
  --color-warning: hsl(37.3 64.4% 49.1%);
  --color-warning-contrast: #000;
  --color-on-warning: hsl(31.8 100% 6.03%);
  --color-on-warning-contrast: #fff;
}
